* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
  color: #fff;
  font-size: 1.2em;
}

/* Header */

#header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  background-color: #181818;
  border: none;
  box-shadow: 0 0 5px black;
}

header, h1 {
  font-weight: bold;
  text-align: center;
}

header {
  font-size: 1.8em;
  padding: 24px 0;
  border-bottom: 1px solid white;
}

h1 {
  font-size: unset;
  border: none;
  padding: 0;
  margin: 0;
}

/* Nav bar */

#nav-bar {
  position: fixed;
  top: 84px;
  z-index: 999;
  background-color: #181818;
  height: 0;
  width: 100%;
  overflow: auto;
  transition: 0.4s;
}

#nav-bar.open {
  height: 100%;
}

#hamburguer-btn {
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 48px;
  margin-top: 24px;
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  cursor: pointer;
}

.hamburguer-btn__line {
  height: 4px;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  transform-origin: 100% 0;
  transition: all 0.2s;
}

#line-1.active,
#line-2.active,
#line-3.active {
  border-radius: 0;
}

#line-1.active {
  transform: rotate(-44deg) translate(-2px);
}

#line-2.active {
  opacity: 0;
  margin-left: 30px;
}

#line-3.active {
  transform: rotate(44deg) translate(2px);
}

#nav-list {
  padding-left: 0;
}

#nav-list li {
  list-style: none;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  max-height: 300px;
  width: 90%;
  margin: 0 auto;
  padding: 16px 0;
}

#nav-list li:not(:last-child) {
  border-bottom: 1px solid white;
}

#nav-list {
  margin-bottom: 100px;
}

a {
  color: inherit;
}

nav > ul > li > a {
  text-decoration: none;
}

/* Main */

#main-doc {
  padding-top: 84px;
  background-color: #333;
}

.main-section {
  padding: 16px;
}

#Hello_World {
  margin-top: -32px;
}

article p {
  padding: 0 16px;
}

h2 {
  margin-left: 32px;
}

ol {
  display: flex;
  flex-direction: column;
  gap: 16px
}

ul {
  display: flex;
  flex-direction: column;
  gap: 16px
}

code {
  position: relative;
  display: block;
  margin: 32px 0;
  padding: 4px;
  line-height: 32px;
}
code.console-code {
  background-color: black;
}

code button {
  cursor: pointer;
  float: right;
  margin-top: 6px;
  margin-right: 8px;
}

.copied-to-clipboard {
  display: none;
  position: absolute;
  right: 0;
  padding: 16px 8px;
  background-color: #111;
  border: 1px solid #333;
}

code.text-editor-code {
  background-color: #222;
}

article code {
  margin-left: 16px;
}

li code {
  margin-left: unset;
}

@media (min-width: 800px){
  #header, #nav-bar {
    width: 30%;
  }
  #hamburguer-btn {
    visibility: hidden;
  }
  #nav-bar {
    left: 0;
    min-height: 100%;
    box-shadow: unset;
    overflow: auto;
  }
  #main-doc {
    position: relative;
    margin-left: 30%;
    padding-top: unset;
  }
}